.sign-in {
  margin: 0 auto;
  width: 388px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07), 0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198),
    0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035),
    0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
  background: #FFFFFF;
  font-family: 'Spartan';
  font-style: normal;
  font-weight: normal;

  & label {
    display: block;
  }
  
  .sign-in__header {
    background-color: #121212;
    padding: 13px 24px 13px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    span {
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.06em;
      color: white;
    }

    .close {
      display: inline;
      width: 14px;
      height: 14px;
      background-image: url(../../Images/Icon/close-sign-in.svg);
      opacity: 0.6;
      cursor: pointer;
      margin-right: 6px;
    }
  }

  .sign-in__lead {
    padding: 24px 29px 24px 30px;
  }
  
  .sign-in__form {
    margin:0 24px 0 24px;
    

    input:-webkit-autofill {
      box-shadow: 0 0 0 30px #F8F8F8 inset !important;
    }

    .input-field {
      margin-bottom: 32px;
      font-family: inherit;
      color: #262626;
      box-sizing: border-box;
    }

    .input-field > div {
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.06em;
      margin-bottom: 8px;
    }

    .input-field > input {
      
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      outline: none;
      border: 0px solid #F8F8F8;
      background: #F8F8F8 !important;
      text-indent: 16px;
      width: 340px;
      height: 48px;
      padding: 0;
      opacity: .6;
    }

    .warning-text {
      margin: 2px 0px;
      line-height: 22px;
      font-size: 14px !important;
      color: #f5222d;
      letter-spacing: -0.5px;
    }

    .input-field .warning-border {
      border: 1px solid #f5222d;
    }

    .input-create {
      width: 340px;
      margin-bottom: 32px;

      & > input {
        width: 340px;
        height: 48px;
        background: #121212;
        border-radius: 4px;
        border: #1890ff;
        font-weight: 500;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.06em;
        opacity: 0.9;
        color: white;
        cursor: pointer;
      }
    }
  }
  
  .sign-in__or {
    text-align: center;
    margin-bottom: 24px;
  }

  .sign-in__f-g-a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 110px 114px 110px;

    .sign-in__facebook{
      width: 36px;
      height: 36px;
      background: url(../../Images/Icon/facebook-sign-in.svg);
      opacity: .6;
      cursor: pointer;
    }

    .sign-in__google {
      width: 32px; 
      height: 34px; 
      background: url(../../Images/Icon/google-sign-in.svg);
      opacity: .6;
      cursor: pointer;
    }

    .sign-in__apple {
      width: 28px; 
      height: 34px; 
      background: url(../../Images/Icon/apple-sign-in.svg);
      opacity: .6;
      cursor: pointer;
    }
  }
  
  .meta-sign-up {
    font-size: 12px;
    line-height: 20px;
    color: #8c8c8c;
    margin-bottom: 48px;

    & > span {
      display: inline-block;
      color: #1890ff;
      cursor: pointer;
    }
  }

  .sign-in__new-customer {
    margin: 0 auto 16px auto;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    cursor: pointer;
  }

  .sign-in__create-account {
    margin: 0 auto 24px auto;
    width: 340px;
    height: 48px;
    text-align: center;
    background: #F8F8F8;
    cursor: pointer;

    span {
      line-height: 48px;
      font-weight: 500;
      font-size: 13px;
      letter-spacing: 0.06em;
      opacity: 0.9;
    }
  }
}
  
  .errorInvalidPassword {
    display: flex;
    flex-direction: column;
    margin: 0 32px 21px 32px;
    text-align: center;
  
    & > span {
      font-size: 22px;
      display: block;
      color: #f5222d;
      margin: 0 auto;
      line-height: 22px;
      margin-top: 5px;
    }
  
    & > img {
      margin: 0 auto;
      border-radius: 50%;
      width: 60px;
      height: 60px;
    }
  }
  
  .spinnerContainer > div {
    align-items: center;
    width: 100%;
    margin: 200px auto;
  }